$textRed: #F2AF29; //красный заголовок
$texVeryDrGray: #707070; //серый Параграф
$sineGoluboy: #172541; //Заголовки
$textblack: #000000; //чёрный цвет для текста
$textWhite: #FFFFFF; //белый цвет

$bgWhite: #FFFFFF; //белый цвет на фон иконок
$bgButton: #F2AF29; //цвет кнопки
$bgIconDon: #FF0000; //цвет иконок красный